<app-nav-bar></app-nav-bar>
<div class="wrapper">
    <section class="section section-lg">
      <section class="section">
        <img class="path" src="assets/img/path4.png" />
  
        <div class="container">
          <div class="row row-grid justify-content-between">
            <div class="col-md-5 mt-lg-5">
                <form #frmCrear="ngForm" (ngSubmit)="crearProducto(frmCrear)">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Nombre</label>
                        <input type="text" ngModel name="nombre" class="form-control" id="txtNombre" placeholder="Nombre" required>
                      </div>
                      <div class="form-group col-md-6">
                        
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword4">Descripción</label>
                        <input ngModel type="text" name="descripcion" class="form-control" id="txtDescripcion" placeholder="Inserta la descripcion de tu producto aqui">
                        
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Palabras claves</label>
                      <input required ngModel type="text" name="clave" class="form-control" id="txtClaves" placeholder="Palabras por las que buscar tu producto.">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">Precio</label>
                        <input ngModel type="number" class="form-control" name=precio id="txtPrecio" placeholder="Q 0.00" required>
                      </div>

                      <div class="form-group col-md-4">
                        <label for="inputCat">Categoría</label>
                        <select ngModel id="inputCat" class="form-control" name="selectedCategoria">
                          <option *ngFor="let cat of categoria" [value]="cat.IDCATEGORIA" >
                            {{cat.NOMBRE}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="fileImagen">Cargar imagen</label>
                      <input (change)="addImage($event)" type="file" accept="image/*" id="fileImagen" placeholder="Carga una imagen de tu producto">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Cargar Producto">

                  </form>
            </div>
            <div class="col-md-6">
              <div class="pl-md-5">
                <h1>
                  Carga tu producto <br />
  
                  Y mira como se vende
                </h1>
                <p>
                  En este apartado seras capaz de poder cargar tu producto, para 
                  que miles de usuarios puedan ser capaces de ver lo que ofreces, 
                  y tu como tus ventas se elevan. 
                </p>
                <br />
                <br />

                <img class="img-fluid floating" [src]="imgURL" />

                
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <app-footer-bar></app-footer-bar>
  </div>